#mainTitle {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}

#getCollection{
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}

#startOver{
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 3;
    float: right;
}


#ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(254, 252, 252);
}


#detail{
    font-size: 1em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}